.section {
    padding: 5rem 1rem;
    width: 100%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-default {
    background-color: transparent;
}

.bg-muted {
    background-color: var(--color-sand);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--color-white);
}

.bg-secondary {
    background-color: var(--secondary);
    color: var(--color-white);
}